html, body{
    overflow-x: hidden;
}

header{
    position: static;
}

.filmes img{
    width: 100%;
}

.filmes{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 30px;
    column-gap: 15px;
}