body{
    background: var(--preto);
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: white;
}

header{
    top:0;
    position: fixed;
    width: 100vw;
}

header .container{
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.logo{
    width: auto;
    height: 40px;
    margin-right: 35px;
}

header nav a {
    font-weight: 700;
    margin-right: 15px;
    font-size: 15px;
    text-decoration: none;
    color: #AAA;
}

header nav a:hover{
    color: #fff;
}

.filme-principal{
    font-size: 16px;
    background: linear-gradient(90deg, rgba(24,24,24,1) 7%,
    rgba(25,25,25,0.9640231092436975) 12%,
    rgba(26,26,26,0.9192051820728291) 16%,
    rgba(30,30,30,0.8883928571428571) 21%,
    rgba(32,32,32,0.6446953781512605) 25%,
    rgba(33,33,34,0.5914740896358543) 29%,
    rgba(33,33,34,0.5914740896358543) 33%,
    rgba(37,37,38,0.5186449579831933) 37%, rgba(37,37,38,0) 41%), url('../img/breaking-capa.jpg');
    height: 105vh;
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.lista-info{
    margin-bottom: 5px;
    color: #AAA;
}

.lista-info li{
    padding-right: 8px;
    border-right: 1px solid #AAA;
    list-style: none;
    display: inline;
}

.lista-info a{
    color: #AAA;
    text-decoration: none;
}

.lista-info a:hover{
    color: white;
    text-decoration: underline;
}

.lista-info li:nth-child(4){
    border-right: none;
}
.serie-logo{
    margin-bottom: 5%;
    width: 450px;
}

.filme-principal .descricao{
    margin-top: 2%;
    margin-bottom: 30px;
}

.filme-principal .titulo{
    margin-bottom: 2%;
    font-size: 24px;
    /* font-family: 'Trebuchet MS', Arial, sans-serif; */
}

.botao{
    border: none;
    background-color: rgba(0,0,0,.50);
    color: white;
    padding: 15px 30px;
    margin-right: 15px;
    font-size: 12px;
    cursor: pointer;
    transition: .3s ease all;
}

.botao a{
    color: white;
    text-decoration: none;
}

.botao:hover{
    background-color: white;
    color: var(--preto);
}

.botao a:hover{
    color: var(--preto);
}

.botao1::before{
    content: "\f04b";
    font-family: FontAwesome;
    margin-right: 5px;
}

.botao2::before{
    content: "\f05a";
    font-family: FontAwesome;
    margin-right: 8px;

}

.container{
    margin-left: 60px;
    margin-right: 60px;
}

.filme-principal .container{
    width: 70%;
    margin-left: 60px;
}

.box-filme{
    height: 100%;
    width: 100%;
    display: block;
}

.titulo-categoria{
    color: #AAA;
    font-size: 2rem;
    font-weight: 700;
    margin-top: 15px;
    margin-bottom: 10px;
    transition: 0.3s;
}

.titulo-categoria:hover{
    color: #fff;
}

.carrosel-filmes{
    margin-top: -100px;
}

.ativo{
    color: #fff;
}

.mudaCor{
    width: 100vw;
    background: var(--preto);
}